[submodule "frontend"]
	path = frontend
	url = https://github.com/joao-pedro-rdo/controle-gda-frontend.git
	branch = develop
[submodule "backend"]
	path = backend
	url = https://github.com/joao-pedro-rdo/controle-gda-backend.git
	branch = develop
